/test-ratings.parquet
/user-user.model
/user-user-recs.parquet
/user-user-metrics.json
/item-item.model
/item-item-recs.parquet
/item-item-metrics.json
/wrls.model
/wrls-recs.parquet
/wrls-metrics.json
/bpr.model
/bpr-recs.parquet
/bpr-metrics.json
/pairwise-metrics.csv
/wrls-pairwise-metrics.json
/item-item-pairwise-metrics.json
/user-user-pairwise-metrics.json
/bpr-pairwise-metrics.json
/test-ratings-group-relevance.csv.gz
/bpr-group-relevance.csv.gz
/item-item-group-relevance.csv.gz
/user-user-group-relevance.csv.gz
/wrls-group-relevance.csv.gz
