/test-ratings.parquet
/user-user.model
/user-user-recs.parquet
/user-user-metrics.json
/item-item.model
/item-item-recs.parquet
/item-item-metrics.json
/als.model
/als-recs.parquet
/als-metrics.json
/user-user-imp.model
/user-user-imp-recs.parquet
/user-user-imp-metrics.json
/item-item-imp.model
/item-item-imp-recs.parquet
/item-item-imp-metrics.json
/wrls-imp.model
/wrls-imp-recs.parquet
/wrls-imp-metrics.json
/bpr-imp.model
/bpr-imp-recs.parquet
/bpr-imp-metrics.json
/user-user-pairwise-metrics.json
/als-pairwise-metrics.json
/user-user-imp-pairwise-metrics.json
/bpr-imp-pairwise-metrics.json
/item-item-imp-pairwise-metrics.json
/wrls-imp-pairwise-metrics.json
/item-item-pairwise-metrics.json
/item-item-group-relevance.csv.gz
/user-user-imp-group-relevance.csv.gz
/user-user-group-relevance.csv.gz
/bpr-imp-group-relevance.csv.gz
/item-item-imp-group-relevance.csv.gz
/wrls-imp-group-relevance.csv.gz
/als-group-relevance.csv.gz
/test-ratings-group-relevance.csv.gz
